* {
    font-family: Verdana, sans-serif;
}

.navbar-brand {
    font-size: 30px;
    color: green;
}

.navbar-brand:hover {
color: green;
}

#day1Img {
    width: 10%;
    height: 10%;
}

h5 {
 font-size: 25px;
}

#Day1, #Day2, #Day3, #Day4, #Day5, #Day6 {
    font-size: 25px;
}

h2 {
    font-size: 25px;
    color: green;
    font-style: italic;
    padding: 1%;
}

.results {
    display: flex;
    justify-content: center;
}

.list-group {
    margin: 1%;
    width: 50%;
}

.list-group-item {
    background-color:#d7ecd5;
    border-color: green;
}

.list-group-item.active {
    background-color: green;
    border-color: green;
}

.footer {
    position: relative;
    width: 100%;
    background-color: #d7ecd5;
    font-size: 15px;
    color: green;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
}

.footer h1 {
    font-size: 30px;
}